<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/user}">查詢所有的客戶資料</a>
<br>
<a th:href="@{/user/1}">查詢 id 為 1 的客戶資料</a>
<br>
<form th:action="@{/user}" method="post">
    <input type="submit" value="新增客戶資料">
</form>
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="修改客戶資料">
</form>
<form th:action="@{/user/5}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="刪除客戶資料">
</form>
<hr>
<a th:href="@{/employee}">查詢所有員工資料</a>
</body>
</html>